.intro {
  text-align: center;
}
.button.is-large.cta-main {
  padding: 0.5rem 2rem;
  height: 40px;
}
@media screen and (min-width: 769px) {
  .button.is-large.cta-main {
    padding: 0.5rem 2.5rem;
    height: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .button.is-large.cta-main {
    padding: 0.5rem 2.5rem;
    height: 60px;
  }
}
